
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Design Tokkens*/
:root{ 
    /*Color Pallette*/
    --color_primary: #263540;
    --color_secondary: #bec8d0;
    --color_background: #ebf0f0;
    --color_accent:#ff9d52;
    --color_text: #040316;
    
    /*Typography*/
    --font_header: 'Anton', Sans-Serif;
    --font_body: 'Vend Sans', Sans-Serif;
    --font_weight_normal: 300;
    --font_weight_bold: 500;

    /*Spacing*/
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 3rem;
}

/*Typography*/

h1, h2, h3, h4, h5 {
    font-family: var(--font_header);
    font-weight: var(--font_weight_bold);
    line-height:120%;
}

p, small{
    font-family: var(--font_body);
    font-weight: var(--font_weight_normal);
    line-height:120%;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.section-header::before{
    content:"";
    display:inline-block;
    width:3rem;
    height:3rem;
    margin-right: 1rem;

    background-image: url('../../public/icons/star-fill.svg');
    background-size:contain;
    background-repeat:no-repeat;

    vertical-align: bottom;
}

/*Container*/
body {
    background-color:var(--color_background);
}

.container__section{
    display:flex;
    flex-direction:column;

    height: 70%;
    margin: 18%;
}

.card{
    margin: 5% 0% 0%;
}

/*Component*/
button{
    color:var(--color_background);
    background-color: var(--color_primary);
    width:180px;
    padding: 15px;
    border-radius: 10px;

    font-size:1.333rem;
}