#contact_info{
    display:grid;
    justify-items: center;
    row-gap: 1.5rem;

    margin-bottom:30%;
}

.contacts{
    display:grid;
    grid-auto-flow:column;
    justify-items: center;
    gap:3rem;
}

.contact__icon{
    height:40px;
    width:40px;
}