.hexagon{
    position:fixed;
    z-index: 1;
    padding: 1px;


    background-color: color-mix(in srgb, var(--color_accent), white 20%);
    mask-image: url('../assets/honey-comb.svg');
    mask-size:contain;
    mask-repeat: no-repeat;
}

.large-hexagon{
    height:650px;
    width: 650px;
    

    right:0%;
    bottom:0%;
    translate: 33% 45%;
}

.medium-hexagon{
    height:550px;
    width: 550px;

    left:0%;
    top:0%;
    translate: -35% -35%;
}

.small-hexagon{
    height:350px;
    width: 350px;
    z-index: -1;

    right:0%;
    top:0%;
    translate: -40% -40%;
}

.bee-box{
    position:fixed;
    z-index: -1;
    opacity:0;

    top: var(--y);
    left: var(--x);

    animation-name: rtl-in-out; 
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: var(--delay);
}

.bee-spin{
    position:absolute;
    width:100px;
    aspect-ratio:1/1;

    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: var(--delay);
}

.bee{
    position:absolute;
    width: var(--particleSize);
    aspect-ratio: 1/1;
    
    bottom:0%;
    left: 50%;
    
    border-radius:50%;
    /* background-color:var(--color_accent); */
    background-image: url('../assets/bee.svg');
    background-size:contain;
    background-repeat:no-repeat;

    animation-name: spin-reverse;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: var(--delay);
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes spin-reverse{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}

@keyframes rtl-in-out{
    0%{
        transform: translateX(20vw) translateY(20vh);
        opacity: 0;
    }
    20%{
        opacity:1;
    }
    80%{
        opacity:1;
    }
    100%{
        transform: translateX(0vw) translateY(0vh);
        opacity: 0;
    }
}