.primary_btn{
    display:grid;
    color:var(--color_background);
    background-color: var(--color_primary);
    width:180px;
    padding: 15px;
    border-radius: 10px;

    font-family: var(--font_body);
    font-size:1.333rem;
    justify-items: center;
    align-items: center;
}