
.section-header::before{
    content:"";
    display:inline-block;
    width:2.75rem;
    height:2.75rem;
    margin-right: 1rem;
    vertical-align: center;

    background-image: url('../assets/icons/bullet-point.svg');
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;

    animation-name: bullet-spin;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container__section{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    
    max-width:100%;
    height: fit-content;
    margin: 20% 18%;

    scroll-margin-top:25vh;
}

@keyframes bullet-spin{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}