#experience{
    margin-bottom: 10%;
}

.card_experience{
    position:relative;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    height:content;
    margin-top:0%;
}

.card_experience:nth-child(odd){
    direction:rtl;
}

.timeline{
    display:grid;
    justify-items:center;
}

.center-icon{
    grid-column: 2;
    position:absolute;
    z-index:1;
    height:30px;
    width:30px;
    margin-top: -0.5rem;
    justify-self: center;


    background-image: url('../assets/icons/bullet-point-90.svg');
    background-size:30px 30px;
    background-repeat:no-repeat;
    padding:1px;
}

.center-line{
    width: 10px;
    height: 100%;
    background-color: var(--color_accent);

    border-width:4px;
    border-style:solid;
    border-left-color: var(--color_primary);
    border-right-color: var(--color_primary);
}

.card_experience:last-child .center-line{
    display:none;
}

.card_experience__description{
    display:flex;
    flex-direction:column;

    margin-right:10%;
    direction:rtl;
}

.card_experience__description h3{
    margin-right: 2.5rem;
}

.card_experience:nth-child(odd) .card_experience__description{
    margin-left:10%;
    margin-right:0%;
    direction:ltr;
}

.card_experience:nth-child(odd) .card_experience__description h3{
    margin-left: 2.5rem;
    margin-right:0%;
}

.description__group{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    gap:1rem;
}

.description__group h5{
    color:var(--color_accent);
}




